<h1>Welcome to the super admin area</h1>

<ul>
  <li><a href="/super_admin/websites">websites</a></li>
  <li><a href="/super_admin/users">users</a></li>
  <li><a href="/super_admin/notifications">notifications</a></li>
</ul>