<% if notification.present? %>
  <span class="pl-2 d-none d-md-block notification-item">
    <i class="fa fa-circle text-<%= notification[:level] %>"></i> <span class="text-light"><%= notification[:body] %></span> <button class="btn btn-dark btn-sm">Dismiss</button>
  </span>
<% end %>