<% if doc_link.present? %>
  <a class="nav-link text-light" href="<%= doc_link %>" target="_blank">
    <i class="fa fa-question-circle text-light"></i> <span class="ml-2">Need Help?</span>
  </a>
<% end %>