<%= form_for form_id, { url: search_path, method: :get } do |form| %>
  <div class="card mb-2">
    <div class="card-body">      
      <div class="input-group mb-0">
        <%= form.text_field :search, { class: 'form-control', required: false, placeholder: 'Search anything...' } %>
        <div class="input-group-append">
          <%= form.submit "Go!", class: 'btn btn-outline-success' %>
        </div>
      </div>      
    </div>
  </div>
<% end %>