
<h2>Subscribe</h2>
<p>
Subscribe to our pro subscription plan for a monthly recurring plan by specifying the number of instances you need. 
See the <a href="/pricing">subscription pricing details.</a><br />
You could also be interested to our <a href="/admin/billing/pay">on-demand services (non recurring)</a>.

<h3 style="color: red">April 17: We are having a temporarily issue with the subscription system. Please click the following link in the meantime to create a subscription: <a href="https://py.pl/jf7l9">https://py.pl/jf7l9</a></h3>
</p>
<p>Monthly price per instance (excluding taxes): <strong>$7.50</strong>.</p>

<div class="form-label-group mb-2">
  <label for="sub_quantity">Number of Instances</label>
  <input
    min="1" default="default" class="form-control" type="number" value="3"
    name="sub_quantity" id="sub_quantity">
</div>

<div id="paypal-button-container" style="text-align: center;"></div>
<script src="https://www.paypal.com/sdk/js?client-id=ASk4oY83EB4t54wqobQO-Tp9xeKIRWLmZkBLJRdwQ0FjPsA-5nFo6mAUfMgpZJzdFPLb5XTan-sDyUVw&vault=true&intent=subscription" data-sdk-integration-source="button-factory"></script>
<script>
paypal.Buttons({
    style: {
        shape: 'rect',
        color: 'gold',
        layout: 'vertical',
        label: 'subscribe'
    },
    createSubscription: function(data, actions) {
      const quantity = document.getElementById("sub_quantity").value;
      return actions.subscription.create({
        'plan_id': 'P-06891910C04126317L7YRCQQ',
        'quantity': `${quantity}`,
        'custom_id': '<%= @user["id"] %>'
      });
    },
    onApprove: function(data, actions) {
      // alert(data.subscriptionID);
    }
}).render('#paypal-button-container');
</script>
