<section class="opensource-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto border-bottom">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-left text-left text-success">OpenSource Projects</h1>
    <h2 class="text-muted text-left">Coming soon...</h2>
  </div>
</section>