<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Website - <%= @current_website['site_name'] %></h1>
</section>
<section>
  <textarea class="dynamic-terminal rounded mb-2">
<%= JSON.pretty_generate @current_website %>
  </textarea>
</section>