

<ul>
  <li><%= link_to 'Change plan', "#{instance_settings_to(@instance_id)}plan" %></li>
  <li><%= link_to 'DNS and Aliases', "#{instance_settings_to(@instance_id)}dns_and_aliases" %></li>
  <li><%= link_to 'SSL', "#{instance_settings_to(@instance_id)}ssl" %></li>
</ul>