<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Change Plan</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <%= render 'admin/instance_settings/plan' %>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instance_settings/sidebar' %>
    </div>    
  </div>
</section>