<section>
  <h1 class="h3 mb-2 text-gray-800">SSL</h1>
</section>
<section>
  <p>Please refer to <%= link_to 'the documentation', '/docs/platform/ssl.md' %> for further information about SSL configurations.</p>
</section>