<section class="pt-6 pt-md-8 bg-success p-3 p-md-5 text-white">
  <div class="container pb-6 pb-md-8">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12 text-center">      
        <!-- Preheading -->
        <h6 class="text-uppercase text-dark font-weight-bold">
          opeNode Features
        </h6>
        <!-- Heading -->
        <h1 class="font-weight-bold">Innovative Functionnalities</h1>
        <!-- Illustration -->
        <p class="text-center mt-5 mb-5">
          <img src="/images/undraw_code_review_l1q9.svg" class="img-fluid w-50 mt-2 mb-2" alt="...">
        </p>        
        <!-- Text -->
        <h4 class="font-weight-light text-gray-500 mb-7 mb-md-9">           
          We have plenty of features which come up with all of our plans.<br/>We believe in the idea that when you pay for a service, it should be all inclusive.<br/>On the other hand, we only provide features which we believe can benefit to most of our users.<br/>Everything we provide is available when you use our services. Simple as that.
        </h4>
        <p class="text-center">
          <i class="fa fa-chevron-down fa-3x"></i>
        </p>
      </div>         
    </div>
  </div>
</section>