<section class="pt-6 pt-md-8 bg-light p-3 p-md-5">
  <div class="container pb-6 pb-md-8">
    <div class="row text-gray-dark">
      <div class="col-md-4">
        <h3>Push-N-Deploy</h3>
        <p>Push your code and get it deployed instantly using <a href="/docs/platform/deploy.md">our opeNode command line interface (CLI)</a>.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>Flexible Instances</h3>
        <p>We provide cheap cloud-based hosting instances with flexible instances.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>Cost Effective</h3>
        <p>You pay on a per hour basis and our price is one of the cheapest on the market. Whenever your website is down, you don't pay, even if your files are stored on our cloud.</p>
      </div>  

      <div class="col-md-4 mb-4">
        <h3>Automatic Build System</h3>
        <p>We generate for you a Dockerfile build file automatically based on your existing repository so that you get up and running efficiently, using our <a href="/docs/platform/smart_templating.md">automatic templating system</a>.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>Project Settings</h3>
        <p>Configure your environment variables on our dashboard or via your config files. Support for .env (dotenv) Dockerfile environment variables.</p>
      </div>
      
      <div class="col-md-4 mb-4">
        <h3>Blue-green deployments</h3>
        <p>All instances have blue-green deployments, where no downtime will be experienced when you deploy.</p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>Reliable Environment</h3>
        <p>Your app runs in a secured container and you don't have to configure your own server to get up and running. No downtime when you redeploy (Blue-green deployments).</p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>Deploy with git</h3>
        <p>
          Just paste your public or private git repository URL (e.g.: github, gitlab, etc.) and hit deploy to get it deployed instantly.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>API and CLI Integration</h3>
        <p>
          Use our REST API and CLI to manage your projects efficiently. Our platform is DevOps optimized - you can operate and manage a large number of instances.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h3>Team Management</h3>
        <p>Invite your team members on your project(s), then they will be able to manage and maintain your projects.</p>
      </div>

    </div>
  </div>
</section>
