<section class="pt-6 pt-md-8 bg-dark p-3 p-md-5">
  <div class="container pb-6 pb-md-8">
    <div class="row align-items-center">
      <div class="col-12 col-md">        
        <!-- Heading -->
        <h3 class="font-weight-light text-white mb-1">
          Get started in minutes.
        </h3>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">Push your code and get it deployed instantly.</p>
      </div>
      <div class="col-12 col-md-auto">                
        <a href="/login" class="btn btn-success btn-lg lift">
          Get started
        </a>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>