<section class="pt-8 pt-md-11 p-3 p-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!-- Card -->
        <div class="card-group card-border card-border-lg border-success shadow-light-lg">
          <div class="card">
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                <span data-toggle="countup" data-from="0"
                  data-to="<%= @global_stats['nb_users'] %>" data-aos=""
                  data-aos-id="countup:in"
                  class="aos-init aos-animate counted">
                  <%= @global_stats['nb_users'] %>
                </span>
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Users
              </p>              
            </div>
          </div>
          
          <div class="card border-left-md">
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                <span data-toggle="countup" data-from="0"
                data-to="95" data-aos="" data-aos-id="countup:in"
                class="aos-init aos-animate counted">
                  <%= @global_stats['nb_deployments'] %>
                </span>
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Deployments
              </p>            
            </div>
          </div>

          <!--
          <div class="card border-left-md" >
            <div class="card-body">
              <h2 class="font-weight-bold text-center mb-0">
                <span data-toggle="countup" data-from="0.00" data-to="99.99" data-decimals="2" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">99.99</span>%
              </h2>
              <p class="text-center text-success mb-0">
                Global uptime
              </p>              
            </div>
          </div>
        -->

          <div class="card border-left-md">
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                &infin;
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Fun &amp; Creativity
              </p>              
            </div>
          </div>

        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>