<!-- the termynal container -->
<div class="mt-5 mb-5 text-left" style="height: 100px;">
  <div data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
      <span data-ty="input" data-ty-delay="1000" data-ty-prompt="$ ~/my-site/">npm install -g openode</span>
  </div>
</div>

<div>
  <p></p>
</div>

<div class="mt-5 mb-5 text-left">
  <div id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
      <span data-ty="input" data-ty-delay="1000" data-ty-prompt="$ ~/my-site/">openode deploy</span>
      <span data-ty data-ty data-ty-prompt-progress="⠏">Authentication valid...</span>
      <span data-ty data-ty-prompt-progress="⠹">[info] Sending files...</span>
      <span data-ty data-ty-prompt-progress="⠏">[info] Veryfing allowed deploys...</span>
      <span data-ty data-ty-prompt-progress="⠼">[info] Preparing instance image...</span>
      <span data-ty data-ty-prompt-progress="⠹">[info] Pushing instance image...</span>
      <span data-ty data-ty-prompt=">" data-ty-delay="1000">[info] Instance image succesfully pushed.</span>
      <span data-ty data-ty-prompt-progress="⠏">[info] Applying instance environment...</span>
      <span data-ty data-ty-prompt=">" data-ty-delay="1000">namespace/instance-152 unchanged</span>
      <span data-ty data-ty-prompt-progress="⠼">[info] Veryfing instance is up...</span>
      <span data-ty data-ty-prompt=">" data-ty-delay="1000">[info] Done! Instance is up.</span>
      <span data-ty="input" data-ty-delay="1000" data-ty-prompt="$ ~/my-site/"></span>
  </div>
</div>