<a class="nav-link dropdown-toggle" 
   href="#" id="alertsDropdown"
   role="button"
   data-toggle="dropdown"
   aria-haspopup="true"
   aria-expanded="false">
  <i class="fas fa-bell fa-fw text-light"></i>
  <span class="badge badge-danger badge-counter">3+</span>
</a>
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
     aria-labelledby="alertsDropdown">
  <h6 class="dropdown-header bg-dark border-dark">
    Alerts Center
  </h6>
  <a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
      <div class="icon-circle bg-warning">
        <i class="fas fa-exclamation-triangle text-white"></i>
      </div>
    </div>
    <div>
      <div class="small text-gray-500">Jan 17, 2020</div>
      <span class="font-weight-bold">Instance Down</span>
    </div>
  </a>
  <a class="dropdown-item d-flex align-items-center" href="#">
    <div class="mr-3">
      <div class="icon-circle bg-success">
        <i class="fas fa-hammer text-white"></i>
      </div>
    </div>
    <div>
      <div class="small text-gray-500">December 15, 2020</div>
      We are doing maintenance work in our Montreal datacenter.
    </div>
  </a>
  <a class="dropdown-item text-center small text-gray-500" href="/admin/notifications">
    Show All Alerts
  </a>
</div>