<ul id="accordionSidebar"
    class="navbar-nav bg-gradient-dark text-success sidebar sidebar-dark accordion">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-icon">
        <img src="/images/logo/dark_v2.svg" height="36" alt="opeNode"/>
    </div>
    <div class="sidebar-brand-text mx-3">opeNode</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" href="/admin">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/instances">
      <i class="fas fa-fw fa-server"></i>
      <span>Instances</span>
    </a>
  </li>      
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Billing
  </div>
  <li class="nav-item">
    <a class="nav-link" href="/admin/billing">
      <i class="fas fa-fw fa-money-check-alt"></i>
      <span>Payments</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/billing/orders">
      <i class="fas fa-fw fa-file-invoice"></i>
      <span>Orders</span>
    </a>              
  </li>      
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Account
  </div>
  <li class="nav-item">
    <a class="nav-link" href="/admin/profile">
      <i class="fas fa-fw fa-user"></i>
      <span>Profile</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/notifications">
      <i class="fas fa-fw fa-bell"></i>
      <span>Notifications</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/api">
      <i class="fas fa-fw fa-code"></i>
      <span>API Access</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/newsletter">
      <i class="fas fa-fw fa-envelope"></i>
      <span>Newsletter</span></a>
  </li>            
  <hr class="sidebar-divider d-none d-md-block">
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>