<% content_for(:title) { doc_title(@section,@document) } %>

<section class="docs-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto border-bottom">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-left text-success">
      Docs
      <button 
        class="navbar-toggler float-right mt-4 d-md-none" 
        type="button" 
        data-toggle="collapse"
        data-target="#docs-sidebar"
        aria-controls="docs-sidebar"
        aria-expanded="false"
        aria-label="Toggle Docs Navigation">
        <span><i class="fa fa-bars"></i></span>
      </button>      
    </h1>
  </div>
</section>
<section class="docs-body pt-8 pt-md-11 bg-dark p-3 p-md-5 border-top">
  <div class="container text-white">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 d-sm-flex bg-dark pt-2 pl-0 collapse d-md-show" id="docs-sidebar">
        <div class="card bg-dark-grey">
          <div class="card-body text-white">
            <ul class="nav flex-column flex-nowrap overflow-hidden">                
              <% @docs_menu.each do |item| %>
                <%= render 'docs/menu/item',
                      section: @section,
                      document: @document,
                      item:item
                %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12">
        <%= raw @result %>
      </div>
    </div>
  </div>
</section>