<section class="position-relative overflow-hidden p-3 p-md-5 text-center bg-dark">
  <div class="col-md-6 p-lg-6 mx-auto my-5">
    <h1 class="display-4 font-weight-normal text-white"><span class="typed"></span> Cloud</h1>
    <h1 class="display-4 font-weight-normal text-white"><span class="text-success">Application</span> <span>Platform</span></h1>
    <p class="lead font-weight-lighter text-white">Get Online Now. Without the Crazy Cost. Efficiently.</p>
    <a class="btn btn-outline-success" href="#">Get Started Now</a>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-light p-3 p-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Preheading -->
        <h6 class="text-uppercase text-success font-weight-bold">
          Complete control
        </h6>
        <!-- Heading -->
        <h1 class="font-weight-bold">Code. Deploy. Manage</h1>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-7">Deploy your website using our simple command line interface (CLI). Avoid headaches to get your Web app up and running. We maintain a robust and secure cloud so that you can focus on writing your web app without wasting time on configuring and managing servers. Deploying worldwide has never been so easy and fast. Deploy to multiple locations with a single command.</p>
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 order-md-2">          
        <div class="device-combo device-combo-macbook-iphonex mb-6 mb-md-0">
          <div class="device device-macbook text-center">              
            <img src="/images/person-device.svg" class="img-fluid" alt="...">
          </div>                          
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
<section class="pt-8 pt-md-11 p-3 p-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">        
        <!-- Card -->
        <div class="card-group card-border card-border-lg border-success shadow-light-lg">
          <div class="card">
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                <span data-toggle="countup" data-from="0" data-to="15" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">15</span>M+
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Active users
              </p>              
            </div>
          </div>
          <div class="card border-left-md">
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                0
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Data breaches
              </p>              
            </div>
          </div>
          <div class="card border-left-md" >
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                <span data-toggle="countup" data-from="0.00" data-to="99.99" data-decimals="2" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">99.99</span>%
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Global uptime
              </p>              
            </div>
          </div>
          <div class="card border-left-md">
            <div class="card-body">
              <!-- Heading -->
              <h2 class="font-weight-bold text-center mb-0">
                <span data-toggle="countup" data-from="0" data-to="95" data-aos="" data-aos-id="countup:in" class="aos-init aos-animate counted">95</span>M+
              </h2>
              <!-- Text -->
              <p class="text-center text-success mb-0">
                Terabytes 
              </p>            
            </div>
          </div>
        </div>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
<section class="py-8 py-md-11 bg-dark p-3 p-md-5 text-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        
        <!-- Preheading -->
        <h6 class="text-uppercase text-gray-500 font-weight-bold">
          Seamless integration
        </h6>

        <!-- Heading -->
        <h1 class="font-weight-bold">Get started in 2 steps. Easy.</h1>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-7 mb-md-9">Simply install the command line tool. Then deploy your app, just like that!</p>
        <div class="terminal">
          <div class=menu>
            <div class="buttons close"></div>
            <div class="buttons minimize"></div>
            <div class="buttons zoom"></div>
          </div>
          <div class="screen">
            <img src="https://www.openode.io/images/openode-cli.gif" style="width: 100%;">    
          </div>                  
        </div>
      </div>
    </div> <!-- / .row -->
    <div class="row no-gutters mb-7 mb-md-9">
      <div class="col-12 col-md-4 text-center">
        
        <div class="row mb-5">
          <div class="col">                
            <!-- Placeholder -->
          </div>
          <div class="col-auto">                
            <!-- Icon -->
            <div class="icon text-success mb-3">
              <i class="fa fa-user-check fa-2x"></i>
            </div>
          </div>
          <div class="col">                
            <!-- Divider -->
            <hr class="d-none d-md-block">
          </div>
        </div> <!-- / .row -->
        <!-- Heading-->
        <h3 class="font-weight-light">
          Create your account
        </h3>
        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">Create your account, grab your credentials<br/>and you are ready to go.</p>
      </div>
      <div class="col-12 col-md-4 text-center">            
        <div class="row mb-5">
          <div class="col">                
            <!-- Divider -->
            <hr class="d-none d-md-block">
          </div>
          <div class="col-auto">                
            <!-- Icon -->
            <div class="icon text-success mb-3">
              <i class="fa fa-upload fa-2x"></i>
            </div>
          </div>
          <div class="col">                
            <!-- Divider -->
            <hr class="d-none d-md-block">
          </div>
        </div> <!-- / .row -->
        <!-- Heading -->
        <h3 class="font-weight-light">Push your code</h3>
        <!-- Text -->
        <p class="text-muted mb-6 mb-md-0">Push your code and get it deployed instantly<br/>using our opeNode command line interface (CLI)</p>
      </div>
      <div class="col-12 col-md-4 text-center">          
        <div class="row mb-5">
          <div class="col">                
            <!-- Divider -->
            <hr class="d-none d-md-block">
          </div>
          <div class="col-auto">                
            <!-- Icon -->
            <div class="icon text-success mb-3">
              <i class="fa fa-sync fa-2x"></i>
            </div>

          </div>
          <div class="col">                
            <!-- Placeholder -->
          </div>
        </div> <!-- / .row -->
        <!-- Heading -->
        <h3 class="font-weight-light">Deploy</h3>
        <!-- Text -->
        <p class="text-muted mb-0">Deploy to multiple locations<br/>with a single command.</p>
      </div>
    </div> <!-- / .row -->
      <!-- / .row -->
  </div> <!-- / .container -->
</section>
<section class="py-8 pt-md-11 pb-md-12 bg-light p-3 p-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">      
        <!-- Preheading -->
        <h6 class="text-uppercase text-success font-weight-bold">
          All in one solution
        </h6>
        <!-- Heading -->
        <h1 class="font-weight-bold">Get Online Now, at low cost. Efficiently.</h1>

        <!-- Text -->
        <p class="font-size-lg text-gray-500 mb-7 mb-md-9">
          We are a complete solution for all your deployment needs.
        </p>
      </div>
    </div> <!-- / .row -->    
  </div> <!-- / .container -->
</section>
<section class="pt-6 pt-md-8 bg-dark p-3 p-md-5">
  <div class="container pb-6 pb-md-8">
    <div class="row align-items-center">
      <div class="col-12 col-md">        
        <!-- Heading -->
        <h3 class="font-weight-light text-white mb-1">
          Get started in minutes.
        </h3>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-6 mb-md-0">Push your code and get it deployed instantly.</p>
      </div>
      <div class="col-12 col-md-auto">                
        <a href="#!" class="btn btn-success btn-lg lift">
          Get started
        </a>
      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>