<section class="opensource-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto border-bottom">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-left text-success">Knowledge Base</h1>
    <h3 class="text-muted text-left">
      The knowledge base maintains tips, documentation, for a variety of technologies using opeNode - community base. <br />See the <a href="https://github.com/openode-io/kb">Knowledge Base github repository</a>.
    </h3>
  </div>
</section>
