<section class="terms-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-left text-success">News</h1>
    <h2 class="text-muted text-left">Keep in touch with the latest news about OpeNode!</h2>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-dark p-3 p-md-5">
  <div class="container text-white twitter-feed">
    <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/opeNodeio?ref_src=twsrc%5Etfw" data-chrome="noheader nofooter noborders transparent noscrollbar" data-tweet-limit="10" dnt="true">Loading tweets by opeNodeio <i class="fa fa-spin fa-spinner"></i></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</section>
<section class="pt-0 bg-dark m-0 pb-5">
  <div class="container text-center">
    <a class="btn btn-outline-success btn-lg" href="https://twitter.com/opeNodeio" target="_blank">
      <i class="fab fa-twitter"></i> View More
    </a>
  </div>
</section>