<section class="terms-header bg-light px-3 py-3 pt-md-5 pb-md-4 mx-auto">
  <div class="container cointaier-shrinked">
    <h1 class="display-4 text-left text-success">Privacy</h1>
  </div>
</section>
<section class="pt-8 pt-md-11 bg-dark p-3 p-md-5">
  <div class="container text-white">
    <h1>Policy</h1>
    <p>This Site is operated and managed by <strong>opeNode</strong> and has been created to provide information about
    our company and our cloud platform for real-time deployment and Node.js hosting.</p>
    <p>This Privacy Policy defines <strong>opeNode</strong>'s policy with respect to information including personally
    identifiable data and other information that is collected from visitors to the Site and related services.</p>

    <h1>Information We Collect</h1>

    <p>While accessing <strong>opeNode</strong>'s website or services, we may collect personal data or other information.
    We however never share these data with third parties in any case.</p>

    <h2>Personal Data</h2>

    <p>We collect Personal Data from you when you voluntarily provide such information such as when
    you contact us or when you signup and provide information related to your account.</p>

    <h2>Other Information</h2>

    <p>We might record information related to your websites, for instance in order to maintain statistics and monitor our network.
    We collect such information in order to operate our system.</p>

    <h1>Security</h1>
    <p><strong>opeNode</strong> takes significant steps to protect the Personal Data provided via the Services from loss and unauthorized access. 
    However, no Internet transmission is ever completely secure or error free. </p>
    <p>In particular, communications, including emails, sent to or from the Services may not be secure. </p>
    <p>Therefore, you should take significant care in deciding what kind of information you send to us via emails or forms. </p>

    <h1>Other Terms and Conditions</h1>
    <p>Your access and use of the services is subject to the Terms of Service.</p>
  </div>
</section>