<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Activity Stream</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div id="admin-instance-activity-stream">
        <section>
          <div class='row'>
            <% @events.each do |event| %>
              <div class='col-lg-12 col-sm-6 mb-2'>
                <div class="card card-instance-details">
                  <div class='card-body'>
                    <div class="row">
                      <div class='col-lg-10 col-sm-10'>
                        <i class="fa fa-clock"></i>
                        <!--TODO - <b><%= event['user'] %></b>-->
                        <%= link_to event.dig('obj', 'title'), action: :event, event_id: event['id'] %>
                      </div>
                      <div class='col-lg-2 col-sm-2text-right'>
                        <i class="fa fa-clock"></i>
                        <%= time_ago_in_words(event['created_at']) %> ago
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div>    
  </div>
</section>