<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Console <%= render 'generic/doc_link', doc_link: @doc_link %></h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div id="openode-terminal-console" data-instance-id="<%= @website['site_name'] %>">
        <div class="vue-command" data-props="<%= {instance: {id: @website['site_name']}}.to_json %>">Loading...</div>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div>    
  </div>
</section>