<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Status and Network</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <p>
        <b>Containers statuses (updated every 30 minutes)</b>
      </p>
      <textarea class="dynamic-terminal rounded mb-2">
<%= JSON.pretty_generate @status %>
      </textarea>

      <p>
        <b>Networking</b>
      </p>
      <%= line_chart date_list_to_hash(@network_stats),
                xtitle: "Date",
                ytitle: "Network Traffic (Mb)",
                colors: ['#28a745'] %>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div> 
  </div>
</section>