<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Status and Network</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">

      <% if @mem_mb.present? %>
        <h3>
          Memory Usage (Live):
        </h3>
        <h3><%= @mem_mb %> Mb (Megabytes)</h3>
        <hr />
      <% end %>

      <% if @top_result.present? %>
        <h3>
          Processes Usage (Live):
        </h3>
        <textarea class="dynamic-terminal rounded mb-2">
  <%= @top_result %>
        </textarea>
        <hr />
      <% end %>

      <h3>
        Containers statuses (updated hourly)
      </h3>

      <% if @website_summary.dig('status') == 'online' &&
          @website_summary.dig('out_of_memory_detected') %>
        <p class="text-danger">** Out of memory detected **</p>
      <% end %>

      <textarea class="dynamic-terminal rounded mb-2">
<%= JSON.pretty_generate @status %>
      </textarea>
      <hr />

    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div> 
  </div>
</section>