<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Spending</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">    
          <%= line_chart spendings_list_to_hash(@spendings),
                xtitle: "Date",
                ytitle: "Credits",
                colors: ['#28a745'] %>
        </div>
      </div>   

      <div class="card">
        <div class="card-body">    
          <%= line_chart spendings_list_to_hash(@nb_online_stats),
                xtitle: "Date",
                ytitle: "Sites up",
                colors: ['#28a745'] %>
        </div>
      </div>      
    </div>
    <div class="col-lg-3">
      <%= render 'super_admin/shared/sidebar' %>
    </div>    
  </div>
</section>