<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Billing <%= render 'generic/doc_link', doc_link: @doc_link %></h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">        
          <%= render 'admin/billing/orders' %>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/billing/sidebar' %>
    </div>    
  </div>
</section>