<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Payments History</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">    
          <div class="table-responsive mb-0">
            <table class="table table-sm table-bordered" id="super-admin-orders">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>      
              <% @orders.each do |o| %>
                <tr>
                  <td><%= o['id'] %></td>
                  <td>
                    <%= o['amount'] %>
                  </td>
                  <td>
                    <%= o['created_at'] %>
                  </td>                  
                </tr>
              <% end %>
              </tbody>
            </table>           
          </div>
        </div>
      </div>      
    </div>
    <div class="col-lg-3">
      <%= render 'admin/billing/sidebar' %>
    </div>    
  </div>
</section>