
<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">On Demand Payment</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <div class="card">
        <div class="card-body">        
          <h5>On demand account credits</h5>
          <h5><%= @user['credits'] %></h5>

          <div class="mb-3 bd-callout bd-callout-warning">
            100 credits correspond to 1 US dollar.
          </div>
          <p>
            See the <a href="/on-demand-pricing">on demand pricing</a>.
            For each website, credits will be spent depending on the website type whenever it is online.
            We only bill websites which are up.
          </p>

          <%= render "admin/billing/pay/paypal" %>
          <p>
            <hr />
          </p>
          <%= render "admin/billing/pay/crypto" %>

        </div>    
      </div>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/billing/sidebar' %>
    </div>    
  </div>
</section>
