@media (min-width: 768px) {
  .sidebar {
    .nav-item {
      .nav-link {
        i {
          font-size: 1.6rem;
        }
        
        span {
          font-size: 0.8rem !important;        
        }              
      }
    }
  }
}

.turbolinks-progress-bar {
  background: $secondary;
}

.notification-item {
  a {
    color: $light;

    &:hover {
      color: $light;
    }
  }
  
  .btn {
    display: none !important;
    
    &.btn-sm {
      padding: 0.20rem 0.2rem;
      font-size: 0.75rem;
      line-height: 1.2;
      border-radius: 0.2rem;
    }    
  }

  &:hover {
    .btn {
      display: inline-block !important;
    }
  }
}

.card {
  &.card-instance-details {
    .badge-counter {
      position: absolute;
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-transform-origin: top right;
      transform-origin: top right;
      right: .25rem;
      margin-top: -.25rem;
      margin-top: -0.3rem;
      font-size: 0.8rem;      
    }
  }
}