@media (min-width: 768px) {
  .sidebar {
    .nav-item {
      .nav-link {
        i {
          font-size: 1.6rem;
        }
        
        span {
          font-size: 0.8rem !important;        
        }              
      }
    }
  }
}

.turbolinks-progress-bar {
  background: $secondary;
}

.notification-item {
  a {
    color: $light;

    &:hover {
      color: $light;
    }
  }
  
  .btn {
    display: none !important;
    
    &.btn-sm {
      padding: 0.20rem 0.2rem;
      font-size: 0.75rem;
      line-height: 1.2;
      border-radius: 0.2rem;
    }    
  }

  &:hover {
    .btn {
      display: inline-block !important;
    }
  }
}

.card {
  &.card-instance-details {
    .badge-counter {
      position: absolute;
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-transform-origin: top right;
      transform-origin: top right;
      right: .25rem;
      margin-top: -.25rem;
      margin-top: -0.3rem;
      font-size: 0.8rem;      
    }

    a.toggle-instance-actions {
      cursor: pointer;
    }

    button.dropdown-item:hover {
      background: #363A42;
      color: white;
    }
  }
}

.navbar-nav {
  .fa.badge-counter {
    right: .56rem !important;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $success;
}

textarea.dynamic-terminal {
  background-color: #000;
  border: 1px solid #000;
  color: #00ff00;
  padding: 8px;
  font-family: courier new;
  width: 100%;
  min-height: 600px;
  outline: none !important;
}

#v-pills-console {
  .terminal {
    margin: 0 !important;
  }
}

#super-admin-newsletters {
  .newsletter-content {
    width: 350px;
  }
}

form {
  label {
    &.required:after{
      color: red;
      content: " *";
    }
  }
}

.vue-command {
  background: #111;
  color: #fff;
  min-height: 400px;
}

.h-55 {
  height: 55% !important;  
}

.h-65 {
  height: 65% !important;  
}

.h-85 {
  height: 85% !important;  
}

.h-95 {
  height: 95% !important;  
}

.carbon-ads-container {
  margin-bottom: 20px;
}

/* Terminal */

#terminal-container {
  padding: .1em 1.5em 1em 1em;
  font-size: 12pt;
  font-family: Inconsolata, monospace;
  color: white;
  background-color: black;  
  height: 600px;
  border-radius: 0.25rem;
  overflow-y: scroll;
}

#terminal-container output {
  clear: both;
  width: 100%;
}

#terminal-container output h3 {
  margin: 0;
}

#terminal-container output pre {
  margin: 0;
}

#terminal-container {
  .input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
  }
  
  .input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
  }
  
  .prompt {
    white-space: nowrap;
    color: #96b38a;
    margin-right: 7px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
  }
  
  .ls-files {
    height: 45px;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    -o-column-width: 100px;
    column-width: 100px;
  }
  
}
