@media (min-width: 768px) {
  .sidebar {
    .nav-item {
      .nav-link {
        i {
          font-size: 1.6rem;
        }
        
        span {
          font-size: 0.8rem !important;        
        }              
      }
    }
  }
}

.turbolinks-progress-bar {
  background: $secondary;
}

.notification-item {
  a {
    color: $light;

    &:hover {
      color: $light;
    }
  }
  
  .btn {
    display: none !important;
    
    &.btn-sm {
      padding: 0.20rem 0.2rem;
      font-size: 0.75rem;
      line-height: 1.2;
      border-radius: 0.2rem;
    }    
  }

  &:hover {
    .btn {
      display: inline-block !important;
    }
  }
}

.card {
  &.card-instance-details {
    .badge-counter {
      position: absolute;
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-transform-origin: top right;
      transform-origin: top right;
      right: .25rem;
      margin-top: -.25rem;
      margin-top: -0.3rem;
      font-size: 0.8rem;      
    }

    a.toggle-instance-actions {
      cursor: pointer;
    }

    button.dropdown-item:hover {
      background: #363A42;
      color: white;
    }
  }
}

.navbar-nav {
  .fa.badge-counter {
    right: .56rem !important;
  }
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: $success;
}

textarea.dynamic-terminal {
  background-color: #000;
  border: 1px solid #000;
  color: #00ff00;
  padding: 8px;
  font-family: courier new;
  width: 100%;
  min-height: 400px;
  outline: none !important;
}

#v-pills-console {
  .terminal {
    margin: 0 !important;
  }
}

#super-admin-newsletters {
  .newsletter-content {
    width: 350px;
  }
}