<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md text-center d-none d-md-block">
      <a href="/">
        <%= render 'layouts/public/logo', color:{lines: "#979C99",n:"#2ecc71"}, size:{height:"70px"} %>    
      </a>
      <br/>
      <small class="text-center text-muted text-center">© <%= Time.now.strftime('%Y') %></small>      
    </div>
    <div class="col-12 col-md">
      <h5>Services</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/pricing">Cloud Hosting</a></li>
      </ul>
    </div>
    <div class="mt-1 mb-3 d-lg-none d-md-none border-bottom border-secondary w-100"></div>
    <div class="col-12 col-md">
      <h5>Company</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="/about">About</a></li>
        <li><a class="text-muted" href="/news" data-turbolinks="false">News</a></li>
        <li><a class="text-muted" href="https://www.reddit.com/r/openode" target="_blank">Commnunity</a></li>
        <li><a class="text-muted" href="http://status.openode.io/">Status</a></li>
      </ul>
    </div>
    <div class="mt-1 mb-3 d-lg-none d-md-none border-bottom border-secondary w-100"></div>
    <div class="col-12 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://api.openode.io/">API</a></li>
        <li><a class="text-muted" href="/docs/platform/cli">CLI</a></li>
        <li><a class="text-muted" href="/docs/introduction/index">Docs</a></li>
        <li><a class="text-muted" href="/faq">FAQ</a></li>
        <li><a class="text-muted" href="/templates">Templates</a></li>
      </ul>
    </div>
    <div class="mt-1 mb-3 d-lg-none d-md-none border-bottom border-secondary w-100"></div>
    <div class="col-12 col-md">
      <h5>Social</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="https://github.com/openode-io"><i class="fab fa-github"></i> Github</a></li>
        <li><a class="text-muted" href="https://twitter.com/openodeio"><i class="fab fa-twitter"></i> Twitter</a></li>
        <!--<li><a class="text-muted" href="https://blog.openode.io/"><i class="fa fa-rss"></i> Blog</a></li>-->
        <!--<li><a class="text-muted" href="https://facebook.com/openodeio"><i class="fab fa-facebook"></i> Facebook</a></li>-->
      </ul>
    </div>
    <div class="mt-1 mb-5 d-lg-none d-md-none border-bottom border-secondary w-100"></div>
    <div class="col-12 text-center d-lg-none d-md-none">
      <a href="/">
        <%= render 'layouts/public/logo', color:{lines: "#979C99",n:"#2ecc71"}, size:{height:"70px"} %>    
      </a>
      <br/>
      <small class="text-center text-muted text-center">© <%= Time.now.strftime('%Y') %></small>      
    </div>    
  </div>
</footer>
<footer class="border-top">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md text-center pl-0 pr-0">
        <div class="d-flex">
          <ul class="nav list-inline mx-auto justify-content-center">
              <li class="nav-item"><a class="nav-link text-muted" href="/support">Contact us</a></li>
              <li class="nav-item"><a class="nav-link text-muted" href="/terms">Terms of use</a></li>
              <li class="nav-item"><a class="nav-link text-muted" href="/privacy">Privacy policy</a></li>
          </ul>  
        </div>
      </div>
    </div>
  </div>
</footer>

