<nav class="site-header sticky-top navbar-dark bg-dark navbar navbar-expand-lg">
  <% if current_user.present? %>
    <a class="sidebar-trigger d-lg-none" href="#">
      <i class="fa fa-chevron-right fa-2x"></i>
    </a>  
  <% end %>
  <a class="navbar-brand" href="/" aria-label="Product">
    <img src="/images/logo/dark_v2.svg" height="36" alt="opeNode"/>
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/pricing" class="nav-link">
          Pricing
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/pricing">Cloud Hosting</a>
          <!--<a class="dropdown-item" href="/pricing-private-cloud">Private Cloud Hosting</a>-->
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" 
           data-toggle="dropdown"
           role="button"
           aria-haspopup="true"
           aria-expanded="false">
           Company <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/news" data-turbolinks="false">News</a>
          <a class="dropdown-item" href="https://www.reddit.com/r/openode" target="_blank">
            Community Forum
          </a>
          <a class="dropdown-item" href="/locations">Locations</a>
          <a class="dropdown-item" href="https://status.openode.io/">Status</a>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle"
           data-toggle="dropdown" 
           role="button" 
           aria-haspopup="true" 
           aria-expanded="false">
           Resources <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/docs/platform/cli">CLI</a>
          <a class="dropdown-item" href="/faq">FAQ</a>
          <a class="dropdown-item" href="/docs/introduction/index">Documentation</a>
          <a class="dropdown-item" href="/docs/platform/addons.md">Addons</a>
          <a class="dropdown-item" href="/kb">Knowledge Base</a>
          <a class="dropdown-item" href="/templates">Templates</a>
        </ul>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/admin/support">Contact</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="/support">Contact</a>
        </li>      
      <% end %>
      <% if current_user %>
      <li class="nav-item">
        <a class="nav-link " href="/admin">Dashboard</a>
      </li>      
      <% end %>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to "Log Out", logout_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", login_path, class: 'nav-link', data: {turbolinks:false} %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", users_register_path, class: 'btn btn-sn btn-outline-secondary hvr-fade', data: {turbolinks:false} %>
        </li>        
      <% end %>        
    </ul>
  </div>
</nav>
