<%= label_tag name.to_sym, label, class: 'required' %>
<div class="input-group show_hide_password">             
  <%= password_field_tag name.to_sym, '', class: 'form-control', required:true %>
  <div class="input-group-append">
    <a class="input-group-text password-toggler" href="">
      <i class="fa fa-eye-slash password-toggler" aria-hidden="true"></i>
    </a>
  </div>
</div>