

<style>
  .adslot_1 { width: 320px; height: 100px; }
@media (min-width:500px) { .adslot_1 { width: 468px; height: 60px; } }
@media (min-width:800px) { .adslot_1 { width: 728px; height: 90px; } }
</style>

<!-- op-horizontal -->
<div align="center">
  <ins class="adsbygoogle adslot_1"
       style="display:block; text-align: center;"
       data-ad-client="ca-pub-8443933490852942"
       data-ad-slot="3298062395"
       data-ad-format="auto"
       data-full-width-responsive="true">
  </ins>
</div>


<script>
document.addEventListener('turbolinks:load', function() {
  (adsbygoogle = window.adsbygoogle || []).push({});
});
</script>