<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Activity Stream <%= render 'generic/doc_link', doc_link: @doc_link %></h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <%= render 'admin/instances/access/activity_stream', activities: InstanceAccessService.activity_stream %>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar', instance_id: params[:id] %>
    </div>    
  </div>
</section>