<section>
  <h1 class="h3 mb-3 text-gray-800">Deployments</h1>
</section>
<section>
  <div class="row">
    <div class="col-lg-9">
      <%= render 'admin/instances/access/deployments', deployments:@deployments %>
    </div>
    <div class="col-lg-3">
      <%= render 'admin/instances/access/sidebar' %>
    </div>    
  </div>
</section>