<section>
  <h1 class="h3 mb-2 text-gray-800">Profile Settings</h1>
</section>
<section>
  <ul>
    <li>
      <%= link_to 'Notifications and newsletter',
                  "#{account_to}notifications_and_newsletter" %>
    </li>
  </ul>
</section>