<section>
  <h1 class="h3 mb-3 text-gray-800 mt-3">Profile Settings</h1>
</section>
<section>
  <ul>
    <li>
      <%= link_to 'Notifications and newsletter',
                  "#{account_to}notifications_and_newsletter" %>
    </li>
    <li>
      <%= link_to 'API and CLI Access',
                  "#{account_to}api_access" %>
    </li>

    <li>
      <%= link_to 'Profile',
                  "#{account_to}profile" %>
    </li>
  </ul>
</section>