<%= line_chart spendings_list_to_hash(@spendings),
                xtitle: "Date",
                ytitle: "Credits",
                colors: ['#28a745'] %>
<div class="table-responsive mt-4 mb-0">
  <table class="table table-sm table-bordered" id="super-admin-spending-stats">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Credits</th>
        <th scope="col">Cost</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>      
    <% @spendings.each do |s| %>
      <tr>
        <td>
          <%= s['value'] %>
        </td>
        <td>
          <%= number_to_currency(s['value'].to_f / 100.0) %>
        </td>   
        <td>
          <%= s['date'] %>
        </td>                            
      </tr>
    <% end %>
    </tbody>
  </table>           
</div>