<div id="wrapper">
  <%= render 'layouts/admin/sidebar' %>
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <%= render 'layouts/admin/navbar' %>
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/admin/footer' %>
  </div>
</div>