<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md text-center">
      <img src="https://www.openode.io/images/logo/dark_v2.svg" height="70" alt="Openode"/>
      <br/><small class="d-block mb-3 text-muted">© 2019</small>
    </div>
    <div class="col-6 col-md">
      <h5>Services</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Shared Cloud</a></li>
        <li><a class="text-muted" href="#">Private Cloud</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Product</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">About</a></li>
        <li><a class="text-muted" href="#">News</a></li>
        <li><a class="text-muted" href="#">Commnunity</a></li>
        <li><a class="text-muted" href="#">Status</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">API</a></li>
        <li><a class="text-muted" href="#">CLI</a></li>
        <li><a class="text-muted" href="#">Docs</a></li>
        <li><a class="text-muted" href="#">FAQ</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Social</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#"><i class="fab fa-github"></i> Github</a></li>
        <li><a class="text-muted" href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a class="text-muted" href="#"><i class="fa fa-rss"></i> Blog</a></li>
        <li><a class="text-muted" href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
      </ul>
    </div>
  </div>
</footer>